<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title> {% if page.title %} {{ page.title }} | {% endif %} Willian Ribeiro </title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<header class="blog-header">
		<h1 class="blog-title">Willian Ribeiro </h1>
	</header>

	<section class="main-content">
		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/post_1.jpg" alt="start">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_1.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_2.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_3.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_1.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_2.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_3.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_1.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_2.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_3.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_1.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_2.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>

		<article class="post-card">
			<header class="post-header">
				<h2 class="post-title"><a href="#">TÍTULO DO POST</a></h2>
				<time  class="post-date" datetime="2014-01-21 10:50">21 de Janeiro de 2014</time>
			</header>

			<img class="post-img" src="/img/abs_3.jpg" alt="Foto abstrata">
			<p class="post-paragraph">
				Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.
			</p>
		</article>
	</section>


	<footer class="blog-footer">
		Facebook
		Twitter
		Google+
	</footer>
</body>
</html>